.container {
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 200px;
}

.call {
    width: 376px;
    height: 587px;
    flex-shrink: 0;
    margin: auto 0;
}

.info {
    background-color: #f4f8fc;
    border-radius: 20px;
    height: 671px;
    left: 0;
    top: 0;
    width: 644px;
}

.title {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 200px;
    padding-top: 32px;

}

.title p {
    color: #626E94;
    text-align: right;
    /* body/body xs */
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-family: peyda-light;
}

.title h3 {
    color: #000;

    text-align: right;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: peyda-medium;

}

.titletext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px;
    margin-bottom: 30px;
    gap: 20px;

}
.titletext p {
    margin: 0;
}
.titletext h3 {
    margin: 0;
    width: 300px;
}

.title h3 span {
    color: var(--primary-color-primary-color, #0CA0A2);
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title img {
width: 69px ;

}

.info input {
    display: flex;
    width: 100px;
    height: 22px;
    padding: 24px 20px 24px 433px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: #FFF;
    margin: auto;
    margin-bottom: 15px;
    font-family: peyda-light;
}

.info input::placeholder {
    color: var(--text-secondary, #1E385F);
    text-align: right;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 141.176% */
    opacity: 0.6;
    width:900px;
}

.subject {
    display: flex;
    height: 128px !important;
    padding: 16px 20px 88px 511px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
}

.subject::placeholder {
    color: #1E385F;
    text-align: right;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 141.176% */
    position: relative;
    bottom: 60px;
}

.info button {
    border: #0CA0A2;
    display: block;
    border-radius: 10px;
    background: #0CA0A2;
    width: 555px;
    height: 65px;
    flex-shrink: 0;
    margin: auto;
    color: #FFF;

    text-align: center;
    /* button/button-sm */
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: peyda-medium;

}