.container{
    margin: 50px auto;
    text-align: center;
}
.container p {
    color: var(--text-color-secondary-text-color, #626E94);
    text-align: center;

    /* body/body sm */
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 31.6px;
    /* 175.556% */
    font-family: peyda-light;
}

.container h1 {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 50px;
    font-family: peyda-bold;
}
.container img{
    width: 1200px;

}