.body{
    margin:0 50px;

}
.ServiceContainer {
    display: flex;
    justify-content: space-around;
    
}

.Item {
    width: 200px;
    font-family: peyda-medium;
}

.Item img {
    height: 47px;


}

.Item p {
    margin: 20px 0;
    color: #000;
    text-align: right;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.container {
    overflow: hidden;
}

.text {
    color: var(--text-color-secondary-text-color, #626E94);
    text-align: right;

    /* body/body sm */
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 31.6px;
    /* 175.556% */
font-family: peyda-light;
}

.title {
    color: var(--Black, #000);
    text-align: right;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 25px 0;
    font-family: peyda-bold;
}
.Schat{
    position: absolute;
    top: 3950px;
    right: 700px;
}
.vector{
    position: absolute;
    top: 3800px;
    left: 300px;
}